# Virtual environments
venv/
.env/

# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Build / distribution files
build/
dist/
eggs/
*.egg-info/

# Editor Configs
.idea/
.vscode/

# macOS
.DS_Store

# Custom files to ignore
test.py

# Jupyter / mkdocs cache & checkpoints
.cache/
**/.ipynb_checkpoints/
