/* === Banner Styling === */
.banner {
    height: 50px; /* Hauteur de la bannière */
    position: sticky; /* Reste en haut lors du scroll */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* S'assurer que la bannière reste au-dessus du contenu */
    background-color: black; /* Couleur de fond sombre pour un effet premium */
    color: white; /* Texte blanc pour un bon contraste */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px; /* Texte lisible */
    font-weight: bold;
    font-family: "Arial", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* === Ajustement du header pour éviter le chevauchement === */
.md-header {
    top: 50px; /* Décaler le header en dessous de la bannière */
}


/* === Blocs dans getting started === */
.custom-card {
    border: 1px solid #929292;
    border-radius: 8px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.05);
    margin-bottom: 16px;
}

.custom-card a {
    text-decoration: none;
    color: "#3953D5";
    transition: color 0.3s ease;
}

.custom-card a:hover {
    color: "#38B06B";
}




.md-header__button.md-logo img {
    height: 60px !important; /* Augmente la hauteur */
    width: auto !important; /* Garde le ratio */
}

.md-header__button.md-logo {
    padding: 5px 10px !important; /* Ajuste les marges autour du logo */
    margin: 10px -20px 0px 0px
}